body {
  background-color: #040404;
  padding: 0;
  margin: 0;
}

.alert {
  color: white;
  font-size: 2vw;
  border: 3px solid white;
  padding-left: 2vw;
  padding-right: 2vw;
}

.alert a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.contentHolder {
  background-color: #a7a7a7;
  color: #071231;
  border: 2px solid #071231;
}
.contentHolder .rightCol {
  background-color: #8e5c63;
  color: #071231;
  border: 2px solid #071231;
}
.contentHolder .rightCol #cardData {
  background-color: #8e5c63;
  border: 2px solid #071231;
}
.contentHolder .leftCol {
  background-color: #8e5c63;
  color: #071231;
  border: 2px solid #071231;
}

#heading {
  border-bottom: 2px solid #071231;
}

#cardOp div {
  border: 2px solid #071231;
  background-color: #7e3d3d;
}

#cardOp div:hover {
  background-color: #5b5970;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body h1, body h2, body h3, body p {
  padding: 0;
  margin: 0;
}

.contentHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentHolder .rightCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentHolder .rightCol #cardData {
  margin-top: 15px;
}
.contentHolder .leftCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentHolder .app {
  display: flex;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
#heading i {
  padding-left: 10px;
  padding-right: 10px;
}

#cardName {
  margin-top: 10px;
}

#cardOp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cardOp i {
  padding-right: 10px;
}
#cardOp div {
  padding: 3px 3px 3px 3px;
  margin-top: 15px;
}

.contentHolder {
  width: 70%;
}
.contentHolder .rightCol {
  width: 70%;
  flex: 1;
}
.contentHolder .rightCol #cardData {
  width: 80%;
}
.contentHolder .leftCol {
  width: 30%;
}

body {
  font-size: 2vw;
}

.app {
  width: 100%;
}

#heading {
  width: 100%;
}

#cardName {
  width: 50%;
}

#addCard {
  background-color: #a7a7a7;
  color: #071231;
  border-radius: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60%;
  font-size: 2vw;
}

.delete, .dataDelete {
  background-color: #821414;
  border-radius: 25%;
  margin-left: 5%;
}

#sep {
  width: 100%;
  display: flex;
  justify-content: center;
}

#saveChanges {
  background-color: #27b127;
  height: 20px;
  border-radius: 25%;
  margin-top: 17px;
  margin-left: 10px;
}

#cardData {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cardData h1 {
  margin-bottom: 25px;
}
#cardData #submitData {
  background-color: #a7a7a7;
  color: #071231;
  border-radius: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
  font-size: 1vw;
}

.card, .data {
  width: 100%;
  display: flex;
  justify-content: center;
}

.data .mark {
  background-color: #558755;
  border-radius: 25%;
  margin-right: 5%;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
