//setup

    $tan: #D1C6AD;
    $dTan: #978d83;
    $pink: #A1869E;
    $lBlue: #797596;
    $dBlue: #071231;
    $bluePress: #5b5970;;
    $black: #242222;
    body {
        background-color:$tan;
        padding:0;
        margin:0;
        }
    @mixin flex{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

//backgrounds and colors

        .contentHolder {
            background-color:$dTan;
            color:$dBlue;
            border: 2px solid $dBlue;
            .rightCol{
                background-color: $lBlue;
                color:$dBlue;
                border: 2px solid $dBlue;
            }
            .leftCol{
                background-color: $pink;
                color:$dBlue;
                border: 2px solid $dBlue;
            }
        }
        #heading{
            border-bottom: 2px solid $dBlue;
        }
        #cardOp div {
            border:2px solid $dBlue;
            background-color: $lBlue;
        }
        #cardOp div:hover {
            background-color: $bluePress;
        }

//position
        body{
            @include flex;
            h1, h2, h3, p {
                padding:0;
                margin:0;
            }
        }
        .contentHolder {
            @include flex;

            .rightCol{
                @include flex;
            }
            .leftCol{
                @include flex;
            }
            .app {
                @include flex;
                flex-direction: row;
            }
        }
        #heading {
            @include flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 15px;
            padding-top:15px;
            i{
                padding-left:10px;
                padding-right:10px;
            }
        }
        #cardName {
            margin-top:10px;
        }
        #cardOp{
            @include flex;
            
            i {
                padding-right:10px;
            }
            div {
                padding:3px 3px 3px 3px;
            }
        }

//Sizing

        .contentHolder{
            width:70%;
            .rightCol {
                width:70%;
            }
            .leftCol {
                width:30%;
            }
        }
        body {
            font-size:2vw;
        }
        .app {
            width:100%;
        }
        #heading{
            width:100%;
        }
        #cardName{
            width:50%;
        }

//button

#addCard {
    background-color: $tan;
    color:$dBlue;
    border-radius: 20%;
    margin-top:15px;
    margin-bottom:15px;
    width:60%;
    height:30px;
    font-size: 2vw;
}