//setup

    $tan: #D1C6AD;
    $dTan: #978d83;
    $pink: #A1869E;
    $lBlue: #797596;
    $dBlue: #071231;
    $bluePress: #5b5970;;
    $black: #242222;
    body {
        background-color:$tan;
        padding:0;
        margin:0;
        }
    @mixin flex{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

//backgrounds and colors

        .contentHolder {
            background-color:$dTan;
            color:$dBlue;
            border: 2px solid $dBlue;
            .rightCol{
                background-color: $lBlue;
                color:$dBlue;
                border: 2px solid $dBlue;
                #cardData {
                    background-color: $pink;
                    border:2px solid $dBlue;
                }
            }
            .leftCol{
                background-color: $pink;
                color:$dBlue;
                border: 2px solid $dBlue;
            }
        }
        #heading{
            border-bottom: 2px solid $dBlue;
        }
        #cardOp div {
            border:2px solid $dBlue;
            background-color: $lBlue;
        }
        #cardOp div:hover {
            background-color: $bluePress;
        }

//position
        body{
            @include flex;
            h1, h2, h3, p {
                padding:0;
                margin:0;
            }
        }
        .contentHolder {
            @include flex;

            .rightCol{
                @include flex;
                #cardData {
                    margin-top:15px;
                    
                }
            }
            .leftCol{
                @include flex;
            }
            .app {
                display:flex;
            }
        }
        #heading {
            @include flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 15px;
            padding-top:15px;
            i{
                padding-left:10px;
                padding-right:10px;
            }
        }
        #cardName {
            margin-top:10px;
        }
        #cardOp{
            @include flex;
            
            i {
                padding-right:10px;
            }
            div {
                padding:3px 3px 3px 3px;
                margin-top:15px;
            }
        }

//Sizing

        .contentHolder{
            width:70%;
            .rightCol {
                width:70%;
                flex: 1;
                #cardData {
                    width:80%;
                }
            }
            .leftCol {
                width:30%;
            }
        }
        body {
            font-size:2vw;
        }
        .app {
            width:100%;
        }
        #heading{
            width:100%;
        }
        #cardName{
            width:50%;
        }

//button

#addCard {
    background-color: $tan;
    color:$dBlue;
    border-radius: 20%;
    margin-top:15px;
    margin-bottom:15px;
    width:60%;
    font-size: 2vw;
}

//delete buttons
.delete, .dataDelete{
    background-color:rgb(224, 26, 26);
    border-radius: 25%;
    margin-left:5%;
}
#sep{
    width:100%;
    display:flex;
    justify-content: center;
}

#saveChanges{
    background-color: green;
    height: 20px;
    border-radius: 25%;
    margin-top:17px;
    margin-left:10px;
}

//delete button spacing and data spacing
#cardData {
    display:flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 25px;
    }
    #submitData{
        background-color: $tan;
    color:$dBlue;
    border-radius: 20%;
    margin-top:15px;
    margin-bottom:15px;
    width:20%;
    font-size: 1vw;
    }
}
.card, .data{
    width:100%;
    display:flex;
    justify-content: center;
}
.data {
    .mark{
        background-color: rgb(103, 206, 103);
        border-radius: 25%;
        margin-right:5%;
    }
}
@media only screen and (max-width: 800px) {
    body {
      font-size:3vw;
    }
  }
  @media only screen and (max-width: 600px) {
    .card {
    display:flex;
    flex-direction: column;
    align-items: center;
    }
  }